/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #d4d4d4;
}
body{
    background-color:#2e3d63;
    font-family:monospace;
    color: #d4d4d4;
    font-size:1.2em;
    padding: 1vmax 0 5vmax 0;
    line-height: 1.2em;
}
li{
    margin-bottom: 3%;
}
p{
    margin: 0 auto;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.5vw;
    padding: 0 10%;
}
.grid-container div{
    min-width: 100%;
    background-color: #14ffcc;
}

.download-button{
    background-color: #14ffcc;
    color: #272f45;
    padding: 1vmax;
    position: fixed;
    top: 1vw;
    right: 1vw;
    text-transform: lowercase;
    border-radius: 0.5vmax;
}

.nested-grid{
    padding: 1vmax;
}
.nested-grid div{
    min-width: 100%;
    min-height: 1vmax;
    background-color: #619eff ;
}

.secondary-nested-grid{
    padding: 1vmax;
}
.secondary-nested-grid div{
    min-width: 100%;
    min-height: 0.2vmax;
    background-color: #4882ce ;
}

.first-p{
    margin-top: 50px;
}

.author{
    text-align: center;
    display: block;
    margin: 1vmax auto;
    letter-spacing: 0.3vmax;
    width: 200px;
}
.second-p{
    margin: 8vmax auto 3vmax auto;
}
.third-p{
    margin: 4vmax auto 3vmax auto;
}
.offset-code{
    margin-top: 2vmax;
}
.secondary-text{
    text-transform: lowercase;
    text-align: left;
    margin: 1.5vmax 0;
    letter-spacing: 0;
}
.explanation{
    text-transform: lowercase;
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
    text-align-last: left;
    list-style: disc;
    margin-top: 3vmax;
    background-color: rgb(65, 79, 117);
    padding: 2vmax 5vmax;
    border-radius: 1vmax;
}

.general-demo, .offset-demo, .justify-items-demo, .align-items-demo, .self-demo{
    width: 80%;
    margin: 0 auto;
}

.general-demo div{
    min-height: 4vmax;
}
.main-section{
    -ms-grid-row: span 3;
    grid-row: span 3;
}

.offset-demo div{
    min-height: 2vmax;
}

.j-a-demo{
    border:1px solid #14ffcc;
    padding: 2vmax;
    border-radius: 0.5vmax;
}

.j-a-demo div{
    min-height: 2vmax;
    min-width: 50%;
    min-width: none;
}

.align-items-demo, .self-demo{
    grid-template-rows: 4vmax 4vmax;
}

.code-block{
    background-color: #272f45;
    padding: 1vmax;
    border-radius: 0.5vmax;
    display: block;
    width: 80%;
    margin: 3vmax auto;
}
.code-block p{
    margin-left: 3vmax;
    margin-bottom: 5px;
    text-transform: lowercase;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.3em;
}
.code-block p:first-of-type, .code-block p:last-of-type{
    margin-left: 0;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
}
.links a{
    margin: 1vmax auto 2vmax auto;
}
